<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
   <display-name>Archetype Created Web Application</display-name>
   <filter>
      <filter-name>ReviewFilter</filter-name>
      <display-name>ReviewFilter</display-name>
      <description></description>
      <filter-class>com.chain.triangleView.filter.ReviewFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>ReviewFilter</filter-name>
      <url-pattern>*.sr</url-pattern>
   </filter-mapping>
   <servlet>
      <servlet-name>MainLogoutReviewSelect</servlet-name>
      <display-name>MainLogoutReviewSelect</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.MainLogoutReviewSelect</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>LogoutMainReviewSelectService</servlet-name>
      <display-name>LogoutMainReviewSelectService</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.LogoutMainReviewSelectService</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>logoutMainReviewSelectService</servlet-name>
      <display-name>logoutMainReviewSelectService</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.logoutMainReviewSelectService</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>loadOneReviewForm</servlet-name>
      <display-name>loadOneReviewForm</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.loadOneReviewForm</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SearchReviewServlet</servlet-name>
      <display-name>SearchReviewServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.SearchReviewServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>LoginMainServlet</servlet-name>
      <display-name>LoginMainServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.LoginMainServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ReSearchReviewServlet</servlet-name>
      <display-name>ReSearchReviewServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.ReSearchReviewServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNScheckServlet</servlet-name>
      <display-name>SNScheckServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNScheckServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNScheck</servlet-name>
      <display-name>SNScheck</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNScheck</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SNSServlet</servlet-name>
      <display-name>SNSServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.SNS.controller.SNSServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite2Servlet</servlet-name>
      <display-name>insertWrite2Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite2Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite3Servlet</servlet-name>
      <display-name>insertWrite3Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite3Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>findIdServlet</servlet-name>
      <display-name>findIdServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.findIdServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sendVerifyServlet</servlet-name>
      <display-name>sendVerifyServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.email.controller.sendVerifyServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>nickCheckServlet</servlet-name>
      <display-name>nickCheckServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.nickCheckServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>sendPassServlet</servlet-name>
      <display-name>sendPassServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.email.controller.sendPassServlet</servlet-class>
   </servlet>
   <servlet>
        <servlet-name>CrollingAndNLPServlet</servlet-name>
        <display-name>CrollingAndNLPServlet</display-name>
        <description></description>
        <servlet-class>com.chain.triangleView.review.controller.CrollingAndNLPServlet</servlet-class>
   </servlet>
  <servlet>
      <servlet-name>sendNewPassServlet</servlet-name>
        <display-name>sendNewPassServlet</display-name>
        <description></description>
        <servlet-class>com.chain.triangleView.email.controller.sendNewPassServlet</servlet-class>
  </servlet>
   <servlet>
      <servlet-name>selectNoticeServlet</servlet-name>
      <display-name>selectNoticeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.notice.controller.selectNoticeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MyHomeServlet</servlet-name>
      <display-name>MyHomeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.userHome.contoller.MyHomeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserHomeServlet</servlet-name>
      <display-name>UserHomeServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.userHome.contoller.UserHomeServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>AddCommentServlet</servlet-name>
      <display-name>AddCommentServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.AddCommentServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>insertWrite1Servlet</servlet-name>
      <display-name>insertWrite1Servlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.insertWrite1Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserFollowFalse</servlet-name>
      <display-name>UserFollowFalse</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.UserFollowFalse</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>UserFollowTrue</servlet-name>
      <display-name>UserFollowTrue</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.UserFollowTrue</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FollowUserListServlet</servlet-name>
      <display-name>FollowUserListServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.FollowUserListServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>FollowingUserListServlet</servlet-name>
      <display-name>FollowingUserListServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.member.controller.FollowingUserListServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>CloudTagServlet</servlet-name>
      <display-name>CloudTagServlet</display-name>
      <description></description>
      <servlet-class>com.chain.triangleView.review.controller.CloudTagServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>HotTagServlet</servlet-name>
   	<display-name>HotTagServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.hottag.controller.HotTagServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LoginHotReveiwServlet</servlet-name>
   	<display-name>LoginHotReveiwServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.LoginHotReveiwServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AddLikeReviewServlet</servlet-name>
   	<display-name>AddLikeReviewServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.AddLikeReviewServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updateMemberServlet</servlet-name>
   	<display-name>updateMemberServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.updateMemberServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updatePasswordServlet</servlet-name>
   	<display-name>updatePasswordServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.updatePasswordServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>write1SelectServlet</servlet-name>
   	<display-name>write1SelectServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.write1SelectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>write2SelectServlet</servlet-name>
   	<display-name>write2SelectServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.write2SelectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>write3SelectServlet</servlet-name>
   	<display-name>write3SelectServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.write3SelectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updateWrite3Servlet</servlet-name>
   	<display-name>updateWrite3Servlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.updateWrite3Servlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateInterestCategoryServlet</servlet-name>
   	<display-name>UpdateInterestCategoryServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.UpdateInterestCategoryServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updateWrite1Servlet</servlet-name>
   	<display-name>updateWrite1Servlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.updateWrite1Servlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CkeditorImageUpload</servlet-name>
   	<display-name>CkeditorImageUpload</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.CkeditorImageUpload</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updateWrite2Servlet</servlet-name>
   	<display-name>updateWrite2Servlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.updateWrite2Servlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>pointRefundsServlet</servlet-name>
   	<display-name>pointRefundsServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.pointRefundsServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>powerReviewerServlet</servlet-name>
   	<display-name>powerReviewerServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.powerReviewerServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>updatePowerReviewerServlet</servlet-name>
   	<display-name>updatePowerReviewerServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.member.controller.updatePowerReviewerServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>coorlinkPointServlet</servlet-name>
   	<display-name>coorlinkPointServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.review.controller.coorlinkPointServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CategoryNameServlet</servlet-name>
   	<display-name>CategoryNameServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.CategoryNameServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LoadNoticeFormServlet</servlet-name>
   	<display-name>LoadNoticeFormServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.LoadNoticeFormServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeCheckServlet</servlet-name>
   	<display-name>NoticeCheckServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.NoticeCheckServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeDetailsServlet</servlet-name>
   	<display-name>NoticeDetailsServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.NoticeDetailsServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeListSelectServlet</servlet-name>
   	<display-name>NoticeListSelectServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.NoticeListSelectServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeListServlet</servlet-name>
   	<display-name>NoticeListServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.NoticeListServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>noticeWriterServlet</servlet-name>
   	<display-name>noticeWriterServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.noticeWriterServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeYPersonServlet</servlet-name>
   	<display-name>NoticeYPersonServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.notice.controller.NoticeYPersonServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AllianPayServlet</servlet-name>
   	<display-name>AllianPayServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.pay.controller.AllianPayServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticePayServlet</servlet-name>
   	<display-name>NoticePayServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.pay.controller.NoticePayServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NoticeYPayMent</servlet-name>
   	<display-name>NoticeYPayMent</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.pay.controller.NoticeYPayMent</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>PayServlet</servlet-name>
   	<display-name>PayServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.pay.controller.PayServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>PaysMentServlet</servlet-name>
   	<display-name>PaysMentServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.pay.controller.PaysMentServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>payMentServlet</servlet-name>
   	<display-name>payMentServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.payMent.payMentServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AllianWriterServlet</servlet-name>
   	<display-name>AllianWriterServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.allian.controller.AllianWriterServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LoadAllainFormServlet</servlet-name>
   	<display-name>LoadAllainFormServlet</display-name>
   	<description></description>
    <servlet-class>com.chain.triangleView.allian.controller.LoadAllainFormServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CompanyWithdrawServlet</servlet-name>
   	<display-name>CompanyWithdrawServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.aCompany.controller.CompanyWithdrawServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchCompanyServlet</servlet-name>
   	<display-name>SearchCompanyServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.aCompany.controller.SearchCompanyServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>WithDrawMemberServlet</servlet-name>
   	<display-name>WithDrawMemberServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.controller.WithDrawMemberServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EnrollBlackServlet</servlet-name>
   	<display-name>EnrollBlackServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.controller.EnrollBlackServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchBlackServlet</servlet-name>
   	<display-name>SearchBlackServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.controller.SearchBlackServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchMemberServlet</servlet-name>
   	<display-name>SearchMemberServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.controller.SearchMemberServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MarginChartServlet</servlet-name>
   	<display-name>MarginChartServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.payment.controller.MarginChartServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MarginChartServlet2</servlet-name>
   	<display-name>MarginChartServlet2</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.payment.controller.MarginChartServlet2</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MarginChartServlet3</servlet-name>
   	<display-name>MarginChartServlet3</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.payment.controller.MarginChartServlet3</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MarginChartServlet4</servlet-name>
   	<display-name>MarginChartServlet4</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.payment.controller.MarginChartServlet4</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchPaymentServlet</servlet-name>
   	<display-name>SearchPaymentServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.payment.controller.SearchPaymentServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>PaybackChartServlet</servlet-name>
   	<display-name>PaybackChartServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.point.controller.PaybackChartServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>PaybackChartServlet2</servlet-name>
   	<display-name>PaybackChartServlet2</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.point.controller.PaybackChartServlet2</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchPayBackServlet</servlet-name>
   	<display-name>SearchPayBackServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.point.controller.SearchPayBackServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>DeleteReviewServlet</servlet-name>
   	<display-name>DeleteReviewServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.reviews.controller.DeleteReviewServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchReviewsServlet</servlet-name>
   	<display-name>SearchReviewsServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.reviews.controller.SearchReviewsServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>LiveReviewServlet</servlet-name>
   	<display-name>LiveReviewServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.reviews.controller.LiveReviewServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SearchDeleteReviewServlet</servlet-name>
   	<display-name>SearchDeleteReviewServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.reviews.controller.SearchDeleteReviewServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CancleBlackServlet</servlet-name>
   	<display-name>CancleBlackServlet</display-name>
   	<description></description>
   	<servlet-class>com.chain.triangleView.admin.controller.CancleBlackServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>logoutMainReviewSelectService</servlet-name>
      <url-pattern>/logoutMain.rl</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>loadOneReviewForm</servlet-name>
      <url-pattern>/loadOneReviewForm.rf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SearchReviewServlet</servlet-name>
      <url-pattern>/searchReview.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>LoginMainServlet</servlet-name>
      <url-pattern>/loginMain</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ReSearchReviewServlet</servlet-name>
      <url-pattern>/reSearchReview.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SNSServlet</servlet-name>
      <url-pattern>/snscheck.sns</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite2Servlet</servlet-name>
      <url-pattern>/insertWrite2.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite3Servlet</servlet-name>
      <url-pattern>/insertWrite3.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>findIdServlet</servlet-name>
      <url-pattern>/findId.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sendVerifyServlet</servlet-name>
      <url-pattern>/sendVerify.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>nickCheckServlet</servlet-name>
      <url-pattern>/nickCheck.do</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>sendPassServlet</servlet-name>
      <url-pattern>/sendPass.no</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CrollingAndNLPServlet</servlet-name>
      <url-pattern>/crolling</url-pattern>
   </servlet-mapping>
  <servlet-mapping>
        <servlet-name>sendNewPassServlet</servlet-name>
        <url-pattern>/sendNewPass.no</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>selectNoticeServlet</servlet-name>
      <url-pattern>/selectNoticeServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MyHomeServlet</servlet-name>
      <url-pattern>/myHome</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserHomeServlet</servlet-name>
      <url-pattern>/userHome</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>AddCommentServlet</servlet-name>
      <url-pattern>/addComment</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>insertWrite1Servlet</servlet-name>
      <url-pattern>/insertWrite1.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserFollowFalse</servlet-name>
      <url-pattern>/followFalse</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>UserFollowTrue</servlet-name>
      <url-pattern>/followTrue</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FollowUserListServlet</servlet-name>
      <url-pattern>/followUserList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FollowingUserListServlet</servlet-name>
      <url-pattern>/followingUserList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CloudTagServlet</servlet-name>
      <url-pattern>/cloudTag.sr</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>HotTagServlet</servlet-name>
   	<url-pattern>/hottag</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoginHotReveiwServlet</servlet-name>
   	<url-pattern>/loginHotReview</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AddLikeReviewServlet</servlet-name>
   	<url-pattern>/likeReview</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updateMemberServlet</servlet-name>
   	<url-pattern>/updateMember.me</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updatePasswordServlet</servlet-name>
   	<url-pattern>/updatePassword.me</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>write1SelectServlet</servlet-name>
   	<url-pattern>/write1Select.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>write2SelectServlet</servlet-name>
   	<url-pattern>/write2Select.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>write3SelectServlet</servlet-name>
   	<url-pattern>/write3Select.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updateWrite3Servlet</servlet-name>
   	<url-pattern>/write3Update.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>UpdateInterestCategoryServlet</servlet-name>
   	<url-pattern>/categoryModify</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updateWrite1Servlet</servlet-name>
   	<url-pattern>/write1Update.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CkeditorImageUpload</servlet-name>
   	<url-pattern>/ckeditorImageUpload</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updateWrite2Servlet</servlet-name>
   	<url-pattern>/updateWrite2.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>pointRefundsServlet</servlet-name>
   	<url-pattern>/pointRefunds.me</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>powerReviewerServlet</servlet-name>
   	<url-pattern>/powerReviewer.me</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>updatePowerReviewerServlet</servlet-name>
   	<url-pattern>/updatePowerReviewer.me</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>coorlinkPointServlet</servlet-name>
   	<url-pattern>/coorlinkPoint.bo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CategoryNameServlet</servlet-name>
   	<url-pattern>/category</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoadNoticeFormServlet</servlet-name>
   	<url-pattern>/loadNoticeForm.rf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeCheckServlet</servlet-name>
   	<url-pattern>/noticeCheck</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeDetailsServlet</servlet-name>
   	<url-pattern>/details</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeListSelectServlet</servlet-name>
   	<url-pattern>/noticeSelect</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeListServlet</servlet-name>
   	<url-pattern>/noticeList</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>noticeWriterServlet</servlet-name>
   	<url-pattern>/notice.vo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeYPersonServlet</servlet-name>
   	<url-pattern>/noticeY</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AllianPayServlet</servlet-name>
   	<url-pattern>/allianPay.vo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticePayServlet</servlet-name>
   	<url-pattern>/pays.po</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>NoticeYPayMent</servlet-name>
   	<url-pattern>/noticeYPay</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>PayServlet</servlet-name>
   	<url-pattern>/payMent.vo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>PaysMentServlet</servlet-name>
   	<url-pattern>/payMent.ao</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>payMentServlet</servlet-name>
   	<url-pattern>/PayMentServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AllianWriterServlet</servlet-name>
   	<url-pattern>/allian.vo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoadAllainFormServlet</servlet-name>
   	<url-pattern>/loadAllainForm.rf</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CompanyWithdrawServlet</servlet-name>
   	<url-pattern>/companyWithdraw</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchCompanyServlet</servlet-name>
   	<url-pattern>/searchCompany</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>WithDrawMemberServlet</servlet-name>
   	<url-pattern>/withdrawMember</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>EnrollBlackServlet</servlet-name>
   	<url-pattern>/enrollBlack</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchBlackServlet</servlet-name>
   	<url-pattern>/searchBlack</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchMemberServlet</servlet-name>
   	<url-pattern>/searchMember</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MarginChartServlet</servlet-name>
   	<url-pattern>/marginChart</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MarginChartServlet2</servlet-name>
   	<url-pattern>/marginChart2</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MarginChartServlet3</servlet-name>
   	<url-pattern>/marginChart3</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>MarginChartServlet4</servlet-name>
   	<url-pattern>/marginChart4</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchPaymentServlet</servlet-name>
   	<url-pattern>/searchPayment</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>PaybackChartServlet</servlet-name>
   	<url-pattern>/paybackChart1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>PaybackChartServlet2</servlet-name>
   	<url-pattern>/paybackChart2</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchPayBackServlet</servlet-name>
   	<url-pattern>/searchPayBack</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>DeleteReviewServlet</servlet-name>
   	<url-pattern>/deleteReview</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchReviewsServlet</servlet-name>
   	<url-pattern>/searchReviews</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LiveReviewServlet</servlet-name>
   	<url-pattern>/liveReview</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SearchDeleteReviewServlet</servlet-name>
   	<url-pattern>/searchDeleteReviews</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>CancleBlackServlet</servlet-name>
   	<url-pattern>/cancleBlack</url-pattern>
   </servlet-mapping>
   </web-app>